<%= form_with(model: bakes_sell) do |form| %>
  <% if bakes_sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bakes_sell.errors.count, "error") %> prohibited this bakes_sell from being saved:</h2>

      <ul>
        <% bakes_sell.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.label( :name,"bolo") %>
    <%= form.text_field :name, class: "field" %>
  </div>

  <div class="">
    <%= form.label( :price,"Preço") %>
    <%= form.text_field :price, class: "field" %>
  </div>

  <div class="">
    <%= form.label( :date_sell,"Data de venda") %>
    <%= form.text_field :date_sell, class: "field" %>
  </div>

  <div class="">
    <%= form.label( :quantity,"Quantidade") %>
    <%= form.number_field( :quantity, in: 1..100, step:1,class: "field") %>
  </div>

  <div class="">
    <%= form.submit("Cadastrar venda",:class =>"actions") %>
  </div>
 

  
<% end %>
