<p id="notice"><%= notice %></p>

<h1>Historico de vendas</h1>
<%= link_to 'Adicionar venda', new_bakes_sell_path, class:"button-43" %>

    <table>
      <thead>
        <tr>
          <th>Nome do bolo</th>
          <th>Preço</th>
          <th>Data de venda</th>
          <th>Quantidade</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @bakes_sells.each do |bakes_sell| %>
          <tr>
            <td><%= bakes_sell.name %></td>
            <td><%= bakes_sell.price %></td>
            <td><%= bakes_sell.date_sell %></td>
            <td><%= bakes_sell.quantity %></td>
            <td><%= link_to 'Mostrar', bakes_sell , class:"button-show" %></td>
            <td><%= link_to 'Editar', edit_bakes_sell_path(bakes_sell), class:"button-edit" %></td>
            <td><%= link_to 'Deletar', bakes_sell, method: :delete, data: { confirm: 'Are you sure?' },class:"button-delete" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>

  
